# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore git and VCS
.git
.gitignore

# Ignore environment and log files
.env
*.log

# Ignore test and other unnecessary folders
*.md
test/
scripts/

# Ignore Docker artifacts
Dockerfile
docker-compose.yml