# GZCTF Configuration
GZCTF_BASE_URL=https://your-gzctf-instance.com # url of the gzctf instance you want to monitor
GZCTF_USERNAME=your_username_with_monitor_role # username of the user you want to monitor
GZCTF_PASSWORD=your_password # password of the user you want to monitor

# Discord Bot Configuration
DISCORD_TOKEN=your_discord_bot_token_here # token of the discord bot you want to use
DISCORD_GUILD_ID=your_discord_server_id # id of the discord server you want to monitor

# Bot Configuration
GAME_ID=your_game_id # id of the game you want to monitor
POLL_INTERVAL=10 # time in seconds to poll for new events (default: 30)
ENABLE_NOTICES=true # true or false
ENABLE_EVENTS=true # true or false
DEBUG=false # true or false
LOG_DIR=/app/logs # optional: override log directory; defaults to /app/logs (in container) or ./logs locally
TZ=Asia/Ho_Chi_Minh # timezone (https://en.wikipedia.org/wiki/List_of_tz_database_time_zones)
SEND_ONLINE_MESSAGE=true # send a one-time 'Bot Online' message to channels on startup

# Channel names
NOTIFICATION_CHANNEL_NAME=notification # name of the notification channel you want to create
EVENT_CHANNEL_NAME=event # name of the event channel you want to create 